@import 'mixins';

.password-control {
  padding-right: 35px;
}

.password-toggle {
  position: absolute;
  content: '';
  width: 16px;
  height: 11px;
  right: 12px;
  align-self: center;
  cursor: pointer;
  @include icon-prepend('password_gray');

  &.view {
    @include icon-prepend('password_blue');
  }

  &:hover {
    @include icon-prepend('password_blue');
  }
}


