@import 'fonts';
@import 'color';

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: $sanFranciscoTextRegular;
  color: $font_color;
}

@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
